[Unit]
Description=Service web de La Box EPP (Engineering Performance Plan)
After=network.target

[Service]
User=pi
EnvironmentFile=/etc/laboxepp/laboxepp.env
ExecStart=/usr/bin/python  /etc/laboxepp/webserver/python/webserver.py 
WorkingDirectory=/etc/laboxepp/webserver/
Restart=always

[Install]
WantedBy=multi-user.target